body{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
}

.container-fluid{
  src: url(../fonts/CircularSpotifyTxT-Black.svg);
  margin: 0;
  font-size: 30px;
  color: red;
}

.contante{
  src: url(../fonts/CircularSpotifyTxT-Light.eot);
  font-size: 70px;
  color: #fff;
  position: absolute;
  margin-top: -450px;
  margin-left: 200px;
}

.botom1{
  src: url(../fonts/CircularSpotifyTxT-Light.eot);
  font-size: 60px;
  position: absolute;
  margin-top: -520px;
  margin-left: 200px;
}

.botom1 a{
  border-radius: 5px;
  padding: 5px 30px;
  background-color: #fff;
  border: 3px solid #fff;
  color: rgb(14, 13, 13);
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  margin-left: 10px;
  top: 10px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.botom1 a:hover::before{
  height: 100%;
}

.botom2{
  src: url(../fonts/CircularSpotifyTxT-Light.eot);
  font-size: 60px;
  position: absolute;
  margin-top: -520px;
  margin-left: 320px;
  border-radius: 30px;   
}

.botom2 a{
  border-radius: 1px;
  padding: 5px 30px;
  border: 3px solid #fff;
  color: #fff;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  margin-left: 10px;
  top: 10px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.botom2 a:hover::before{
  height: 100%;
}

.botom{
  src: url(../fonts/CircularSpotifyTxT-Light.eot);
  font-size: 60px;
  position: absolute;
  margin-top: -380px;
  margin-left: 200px;
}

.botom a{
  border-radius: 5px;
  padding: 5px 30px;
  background-color: rgb(219, 35, 35);
  border: 3px solid rgb(226, 37, 37);
  color: #fff;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  margin-left: 10px;
  top: 100px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.botom a:hover::before{
  height: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.flex > div {
  margin: 5px;
}

.rodape{
  background-color: #121212;
  width: 100%;
  height: 200px;
}

.footer{
  margin: 0 30px;
  color: #fff;
  margin-top: 100px;
}

.row{
  margin: 0;
}

.texto{
  font-size: 15px;
  margin: 0 30px;
  color: #fff;
  margin-top: 10px;
}

@media  (min-width: 1200px){ 
 .card{
  margin-left: 160px;
  }
}

@media (max-width: 1200px){ 
  .botaoFooter{
     margin-left: 100px;
   }
   .row{
    align-content: center;
  }
 }
 @media (max-width: 400px) {
	body {
		height: 100%;
  }
  .botaoFooter{
    margin-left: 50px;
  }
}
